# Dépendances
node_modules/
backend/node_modules/
frontend/node_modules/
reservation_hotel/venv/

# Build
dist/
backend/dist/
frontend/.angular/
frontend/dist/

# Logs (mentionnés dans tes fichiers backend.log et frontend.log[cite: 1])
*.log
backend/backend.log
frontend/frontend.log

# Base de données et fichiers locaux
db.sqlite3
.env

# OS
.DS_Store
Thumbs.db
